:root {
   --main-bg-color: #f2f2f2;
   --main-bg-color-light: #ffffff;
   --main-text-color: #111517;
 }
 
 .mode {
   --main-bg-color: #202c36;
   --main-bg-color-light: #2b3844;
   --main-text-color: #ffffff;
 }